@import 'mixins';

.footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  @include flex(center, center);
  box-sizing: border-box;
  padding: 20px 9.8vw;
  background-color: #F8F8F8;
  border-top: 0.5px solid rgba(77, 76, 73, 0.3);

  &__description {
    position: absolute;
    right: 9.8vw;
    color: #333333;
    font-size: 15px;
  }
}

.link-list {
  position: absolute;
  left: 9.8vw;
  @include flex(center, center);
  gap: 28px;

  &__link {
    @include flex(center, center);
  }
}
